@use "./base/_fonts";
@use "./base/_base";
@use "./layout/_index" as layout;
@use "./pages/_index" as pages;
@use "./components/_index" as components;

:root {
    --white: #fff;
    --black: #000;
    --green: #0e8a5d;
}
