body.front {
    footer {
        margin-top: 100px;
        min-height: 400px;
        background: var(--green);

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: top;
            padding-top: 50px;
            .image_container {
                width: 200px;
                height: 200px;
                border-radius: 20px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .menu-footer {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: flex-end;
                    gap: 10px;
                    height: 100%;
                }
            }
        }
    }
}
